.auth-bg {
    background: linear-gradient(to right, #fdf4eb, #ffd4ab);
    color: #ffffff;
}

.auth-card {
    background: rgb(240, 251, 255);
    padding: 30px;
    border-radius: 10px;
}

.auth-title {
    font-weight: bold;
    color: #502906;
}

.custom-link {
    color: #7c7b86;
    text-decoration: none;
    font-size: 14px;
}

.custom-link:hover {
    color: #351a00;
    text-decoration: none;
}
